# Assignment - 1 Solutions

1.Install Jupyter notebook and run the first program and share the screenshot of the output.

2.Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

Solution:

In [33]:
A = []
for x in range(2000,3200):
    if (x%7==0):
        y= x/5
     
        if (y%5)!=0:
            A.append(x)
            
            
A

[2002,
 2009,
 2016,
 2023,
 2030,
 2037,
 2044,
 2051,
 2058,
 2065,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2135,
 2142,
 2149,
 2156,
 2163,
 2170,
 2177,
 2184,
 2191,
 2198,
 2205,
 2212,
 2219,
 2226,
 2233,
 2240,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2310,
 2317,
 2324,
 2331,
 2338,
 2345,
 2352,
 2359,
 2366,
 2373,
 2380,
 2387,
 2394,
 2401,
 2408,
 2415,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2485,
 2492,
 2499,
 2506,
 2513,
 2520,
 2527,
 2534,
 2541,
 2548,
 2555,
 2562,
 2569,
 2576,
 2583,
 2590,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2660,
 2667,
 2674,
 2681,
 2688,
 2695,
 2702,
 2709,
 2716,
 2723,
 2730,
 2737,
 2744,
 2751,
 2758,
 2765,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2835,
 2842,
 2849,
 2856,
 2863,
 2870,
 2877,
 2884,
 2891,
 2898,
 2905,
 2912,
 2919,
 2926,
 2933,
 2940,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3010,
 3017,
 3024,
 3031,
 3038,
 3045,
 3052,
 3059,
 3066,
 3073,
 3080,
 3087,
 3094,
 3101,
 3108,
 3115,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3185,
 3192,
 3199]

In [32]:
for x in range(2000,3200):
    if (x%7==0) and (x%5!=0):
        print(str(x)+',')

2002,
2009,
2016,
2023,
2037,
2044,
2051,
2058,
2072,
2079,
2086,
2093,
2107,
2114,
2121,
2128,
2142,
2149,
2156,
2163,
2177,
2184,
2191,
2198,
2212,
2219,
2226,
2233,
2247,
2254,
2261,
2268,
2282,
2289,
2296,
2303,
2317,
2324,
2331,
2338,
2352,
2359,
2366,
2373,
2387,
2394,
2401,
2408,
2422,
2429,
2436,
2443,
2457,
2464,
2471,
2478,
2492,
2499,
2506,
2513,
2527,
2534,
2541,
2548,
2562,
2569,
2576,
2583,
2597,
2604,
2611,
2618,
2632,
2639,
2646,
2653,
2667,
2674,
2681,
2688,
2702,
2709,
2716,
2723,
2737,
2744,
2751,
2758,
2772,
2779,
2786,
2793,
2807,
2814,
2821,
2828,
2842,
2849,
2856,
2863,
2877,
2884,
2891,
2898,
2912,
2919,
2926,
2933,
2947,
2954,
2961,
2968,
2982,
2989,
2996,
3003,
3017,
3024,
3031,
3038,
3052,
3059,
3066,
3073,
3087,
3094,
3101,
3108,
3122,
3129,
3136,
3143,
3157,
3164,
3171,
3178,
3192,
3199,

3.Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.


Solution :

In [19]:
first_name = input("Enter First_name :")
last_name =input("Enter Last_name :")

x =first_name +' '+last_name
yes=x
y=yes

if input("If U want reverse order type yes/no :") == yes or y:
    print("Reverse order :" + x[::-1])
    
else:
    print("User Entered Name :" + first_name +' '+last_name)

Enter First_name :venu
Enter Last_name :gopal
If U want reverse order type yes/no :no
Reverse order :lapog unev

In [20]:
first_name = input("Enter First_name :")
last_name =input("Enter Last_name :")

print("Hello " + last_name +' ' +first_name)

Enter First_name :VENU GOPAL
Enter Last_name :PENTYALA
Hello PENTYALA VENU GOPAL

4.Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

Solution:

In [34]:
import math 
r=int(input("Enter VOS with Diameter:"))
V=((4/3)*math.pi*r**3)
print("Result 'V'=", V)

Enter VOS with Diameter:12
Result 'V'= 7238.229473870882

# Task 2

1.Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

Solution:

In [37]:
values =input("Enter Some comma-separated numbers :")
ls = values.split(",")
print(ls)

Enter Some comma-separated numbers :1,2,3,4,5,6,7,8
['1', '2', '3', '4', '5', '6', '7', '8']

2.Create the below pattern using nested for loop in Python

Solution:

In [55]:
n=5
print("Pattern using Nested For Loop :")
for i in range(n):
    for j in range(i):
        print('*',end="")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('*',end="")
    print('')

Pattern using Nested For Loop :

*
**
***
****
*****
****
***
**
*

3.Write a Python program to reverse a word after accepting the input from the use

Sample Output:
Input word: AcadGild
Output: dilGdacA

Solution:

In [1]:
input_word=input("Input Word :")
IW=input_word
print("Output :",IW[::-1])

Input Word :AcadGild
Output : dliGdacA

4.Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [12]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t  and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens